.container-report-view {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: rgb(37, 56, 88);
}

.form-report-view {
   border: 1px solid rgb(232, 232, 232);
   padding: 20px;
   display: flex;
   flex-direction: column;
}

.submit-report-view {
   border: 1px solid rgb(232, 232, 232);
   padding: 2px;
   margin-top: 8px;
}

.submit-report-view:hover {
   background-color: rgb(222, 235, 255);
}

.element-form-report-view:nth-child(2) {
   align-self: flex-end;
   width: max-content;
   cursor: pointer;
}